* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: hsl(30, 38%, 92%);
}

p {
	color: hsl(228, 12%, 48%);
	font-size: 1.4rem;
}

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	min-height: 100vh;

	&__container {
		max-width: 400px;
		background-color: hsl(0, 0%, 100%);
		border-radius: 8px;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: 50%;
		object-fit: cover;
		object-position: center;

		&--mobile{
			display: block;
		}
		&--desktop {
			display: none;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 2em;
	}

	&__category {
		letter-spacing: 4px;
		text-transform: uppercase;
	}

	&__name {
		padding: 1em 0;
		font-size: 2rem;
		font-family: 'Fraunces', serif;
		color:hsl(212, 21%, 14%);
	}

	&__description {
		line-height: 2.5rem;
	}

	&__price-box {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		padding: 2em 0;
	}

	&__price {
		&--now {
			font-size: 3rem;
			font-family: 'Fraunces', serif;
			color: hsl(158, 36%, 37%);
		}

		&--before {
			padding: 0 2em;
			text-align: center;
			text-decoration: line-through;
		}
	}

	&__btn {
		width: 100%;
		height: 3em;
		background-color: hsl(158, 36%, 37%);
		color: hsl(0, 0%, 100%);
		font-weight: bold;
		border-radius: 8px;
		border: none;

		&:hover{
			background-color: hsl(158, 39%, 25%);
		}
	}

	&__btn-icon {
		padding: 0 1em;
	}
}

@media (min-width: 996px) {
	.product {
		&__container {
			display: flex;
			flex-direction: row;
			max-height: 400px;
			max-width: 600px;
		}

		&__img {
			width: 100%;
			height: 100%;
			

			&--desktop {
				display: block;
			}
			&--mobile {
				display: none;
			}
		}
	}
}
